@import "tailwindcss";

:root {
  --color-text: #FFFFFF;
  --color-blue: #165CDE;
  --color-background: #092456;
  --color-black: #000000;
  --color-lightblue: #CDDFFF
}


@layer base {
  
  body {
    margin: 0;
    min-height: 100vh;
    background: radial-gradient(circle at center, #165CDE 5%, #000 40%);
    font-family: 'inter' ,sans-serif;

  }

}

@keyframes slideInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideInUp {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideInBottom {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@font-face {
  font-family: 'Inter';
  src: url('./assets/Fonts/Inter-Regular.woff2') format('woff2'),
    url('./assets/Fonts/Inter-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}


@font-face {
  font-family: 'Inter';
  src: url('./assets/Fonts/Inter-Bold.woff2') format('woff2'),
    url('./assets/Fonts/Inter-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}